body {
    margin : 0;
    background: #111;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    color: #fff;
    text-align: center;
}
.main-game{
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas: 'green red' 
    'yellow blue';
    gap: 5px;
    border-radius: 100%;
    width: 500px;
    height: 500px;
}

.blue{
    grid-area: blue;
    background-color: blue;
    border-bottom-right-radius: 100%;
}

.red{
    grid-area: red;
    background-color: red;
    border-top-right-radius: 100%;
}

.yellow{
    grid-area: yellow;
    background-color: yellow;
    border-bottom-left-radius: 100%;
}

.green{
    grid-area: green;
    background-color: green;
    border-top-left-radius: 100%;
}

.colors:hover{
    cursor: pointer;
}

.selected {
    opacity: 0.5;
    transform: scale(0.99);
}